.faq h1 {
    padding: 20px;
    padding-top: 45px;
    margin-left: 10px;
}
.faq {
    background-color: var(--background-secondary);
}

.question-list {
    margin-bottom: 200px;
}
.faq-block {
    display: block;
    width: 90%;
    padding: 0px;
    margin: 0 auto;

}

.faq-block h2 {
    float: left;
    font-size: 38px;
    margin: 10px 0px 10px 20px;

}

.faq-block p {
    font-size: 22px;
    padding: 10px;
    padding-top: 20px;
    margin-left: 100px;
}

.question {
    height: auto;
    min-height: 68px;
    background-color: rgb(200,200,200);
    border-left: solid var(--primary) 5px;
    padding: 0px;
    margin: 0px;
    margin-bottom: -22px;
}
.question h2 {
    color: var(--primary);
}
.question p {
    font: bold;
}


.answer {
    height: auto;
    min-height: 68px;
    background-color: rgb(240,240,240);
    border-left: solid rgb(80,80,80) 5px;
    padding: 0px;
    margin: 0px;
}

.answer h2 {
    color: rgb(80,80,80);
}

.faq > .line-break {
    width: 95%;
    height: 2px;
}
.faq .question-list .line-break {
    width: 90%;
}

.faq .logo {
    width: 100px;
    float: left;
    display: block;
    margin-left: 20px;
}


@media screen and (max-width: 632px) {

    .faq .logo {
        margin-top: 20px;
    }
    
  
}