.provider-portal {
    margin-top: -64px;
    height: 100vh;
    width: 100%;
}


.dashboard {
    padding: 20px;
    padding-top: 64px;
    background-color: var(--background-primary);
}


.provider-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 0px 20px;
    margin: 0px;
}

.provider-grid .rt-td{
    text-emphasis: center;
}

.transaction-count-table {
    margin-top: 10px;
    display: block;
}


.transaction-count-table ul {
    list-style: none;
    width: 200px;
    margin: 0 auto;
    padding-left: 0;
    
}
.transaction-count-table ul li {
    padding: 10px;
    font-size: 20px;
}
.transaction-count-table ul li strong {
    float: right
}

.provider-header {
    width: 100%;
}

.account-total-card .line-break{
    margin-bottom: 0px;
}

.account-total-card {
    text-align: center;
    max-width: 300px;
    max-height: 250px;
    margin: 0px;
}
.transaction-count-table .transaction-label {
    text-align: left;
}
.transaction-card {
    margin: 0px;
}

.account-total-card strong {
    margin-left: 10px;
}


.provider-content h1{
    padding: 10px;
}

.approved li{
    background-color: rgb(210, 245, 200);
}

.denied li{
    background-color: rgb(255, 210, 210);
}

.pending li{
    background-color: rgb(255, 250, 210);
}




@media screen and (max-width: 1024px) {
    .provider-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
   
}

@media screen and (max-width: 600px) {
    .provider-grid {
        grid-template-columns: 1fr;
    }
   
}

