.provider-portal {
    margin-top: -64px;
    height: 100%;
    width: 100%;
}


.dashboard {
    display: flex;
    background-color: rgb(230,230,230);
}
.provider-content {

}

.side-menu{
    height: 100vh;
    margin: 0;
    background-color: rgba(130,0,140);
}
.provider-content h1{
    padding: 50px;
}

