@font-face {
    font-family: 'geo_sans_light';
    src: local('geo_sans_light'), url(../../assets/fonts/geo_sans_light/GeosansLight.ttf) format('ttf');
}

.app{
    font-family: 'geo_sans_light';
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
