.account {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
}

.title > .logo{
  width: 100px;
  float: left;
  display: block;
  margin-left: 20px;
}
.account h2{
  text-align: center;
  font-size: 1.4rem;
  padding-top: 20px;
}

.account h1{
  font-size: 1.5rem;
  margin-top: 50px;
  padding: 0;
}

.title {
  padding: 10px 40px;
}
.title h1 {
  margin-bottom: 10px;
}
.title p {
  padding: 0px;
  margin: 0px;
  font-size: 1.1rem;
}
.account a {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 1350px) {
  .account {
      grid-template-columns: auto;
  }
}
@media screen and (max-width: 530px) {
  .title > .logo{
    display: none;
  }
}
