.about {
    background-color: var(--background-primary);
    margin: 0;
    margin-top: 0px;
    padding: 5px 0px;
}

.about p {
    font-size: 1.3rem;
    margin: 10 auto;
}

.about img {
    min-width: none;
    width: auto;
    height: 30vw;
    padding: 20px;
    margin-top: 32px;
}

.img-row {
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.img-row img {
    display: inline-flex;
    margin-top: 0px;
}

.app-store {
    margin: 0;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.app-store img{
    height: auto;
    width: 150px;
    margin: 0;
    padding: 0px;
    margin-right: 20px;
}


.process {
    margin: 0;
    width: 90%;
    padding: 20px;
}

.process img {
    margin: 0px;
    width: 100%;
    height: auto;
}
.card {
    background-color: var(--background-secondary);
    margin: 50px 50px;
    padding: 20px;
    border-radius: 10px;
}
.about .card .line-break {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .card {
        margin: 50px 15px;
    }
}
