.background {
    background-image: linear-gradient( var(--primary), white);
    margin-top: 64px;
    width: 100%;
    height: 100%;
}
.home img {
    display: block;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    min-width: 300px;
}

.home {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 20px;
    min-height: 100vh;
}

.mission-statement {
    background: rgba(50,50,50,0.85);
    color: white;
    padding: 5px 10px;
    margin: 0px 20px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.stat {
    background: rgba(50,50,50,0.85);
    color: white;
    padding: 5px 10px;
    margin: 0px 40px;
    border-radius: 10px;  
    position: relative;
    transform: translate(0%,100%);

}
.stat p {
    font-size: 1.3rem;
}

.mission-statement p {
    font-size: 1.4rem;
}

.mission-statement strong {
    font-size: 1.5rem;
}
.youtube-video  {
    display: block;
    width: 90%;
    margin: 0 auto;

}
.youtube-video iframe {
    object-fit: contain;
    width: 90vw;
    height: 50vw;
    max-width: 800px;
    max-height: 500px;
    margin-bottom: 50px;
}
.health h1 {
    color: white;
    padding: 20px;
    margin-left: 20px;
    margin-top: 0px;
}
.health{
    width: 100%;
    min-height: 100vh;
    background-color:  var(--primary);
}



.learn-more {
    width: 100%;
    background-color: white;
    min-height: 100vh;
}
.account-type{
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}
.learn-more h1 {
    padding: 20px;
}
.learn-more .card{
    background-color: var(--background-primary);
    border-radius: 10px;
    padding: 20px;
    height: 300px;
}
.learn-more .card:hover{
    -webkit-filter: brightness(0.95);
    filter: brightness(0.95);
}
.learn-more .card-image {
    display: block;
    width: 50%;
    min-width: 150px;
    max-width: 250px;
    margin: 0 auto;
}
.learn-more .card img {
    width: 100%;
}
.learn-more a {
    text-decoration: none;
    color: black;
}

.parallax-background {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    width: 100%;

}

#hospital {
    background-image: url("../../../assets/images/hospitalBuilding.jpg")
}
#patientHelp {
    background-image: url("../../../assets/images/patientHelp.jpg")
}
#providerHelp {
    background-image: url("../../../assets/images/providerHelp.jpg")
}


@media screen and (max-width: 600px) {
    .account-type{
        grid-template-columns: auto;
    }
    .parallax-background {
        background-attachment: scroll;
    }
    .health{
        min-height: 0vh;
    }
    .learn-more {
        min-height: 0vh;
    }
    .stat {
        margin: 0 10px;
    }
      
}

